/* HTML Tags */
body
{
	background-image:url(../../images/sites/154/background.png);
	background-position:top left;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
}

/* Left Panel */

.paneTabHeaderTitle input 
{
	background-color:Transparent;
	border:0 none;
	font-size:12px;
	height:30px;
	margin:0;
	padding:0;
	text-align:left;
	text-transform:none;
	width:122px;
}

.paneInactiveTabHeader .paneTabHeaderTitle input 
{
	color:#B2B4B6;
}

.paneTabHeaderTitle 
{
	border:0 none;
	float:left;
	font-size:12px;
	height:30px;
	margin:0;
	padding:0;
	text-align:left;
	text-transform:none;
	width:120px;
}

.panelControlTitlebarLeft
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:top left;
	background-repeat:no-repeat;
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;	
}

.panelControlTitlebarRight
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:top left;
	background-repeat:no-repeat;
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;	
}

.panelControlTitle, .panelControlTitlebarIcon, .panelControlTitlebarText, .panelControlTitlebarIconText
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:top left;
	background-repeat:repeat-x;		
}

.lcolumn .panelControlPanes 
{
	background-color:#7e90a6;
	border-left:1px solid #111127;
	border-right:1px solid #111127;
	border-top:1px solid #111127;
}

/* Center Panel */

.content .panelControlTitlebarLeft
{
	background-image:url(../../images/sites/154/bar_dma_center_main-left.png);
	background-position:top left;
	background-repeat:no-repeat;
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;
	border-top:1px solid #111127;
}

.content .panelControlTitlebarRight
{
	background-image:url(../../images/sites/154/bar_dma_center_main-right.png);
	background-position:top left;
	background-repeat:no-repeat;
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;
	border-top:1px solid #111127;
}

.content .panelControlTitle, .panelControlTitlebarText
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:repeat-x;	
	border-top:1px solid #111127;	
}

.content .panelControlPanes 
{
	background-color:#ededed;
	border-left:1px solid #111127;
	border-right:1px solid #111127;
	border-top:1px solid #111127;
}

/* Right Panel */

.rcolumn .panelControlTitlebarLeft
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:top left;
	background-repeat:no-repeat;
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;	
}

.rcolumn .panelControlTitlebarRight
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:top left;
	background-repeat:no-repeat;
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;	
}

.rcolumn .panelControlTitle, .panelControlTitlebarText
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:top left;
	background-repeat:repeat-x;		
}

.rcolum .panelControlTitle, .panelControlTitlebarIcon, .panelControlTitlebarText, .panelControlTitlebarIconText 
{
	background-image:url(../../images/sites/154/bar_dma_center.png);
	background-position:left top;
	background-repeat:repeat-x;
}

.rcolumn .panelControlPanes 
{
	background-color:#FFFFFF;
	border-left:1px solid #111127 !important;
	border-right:1px solid #111127 !important;
}

/* Panel Control */

.panelControlFooterText  
{
	background-color:#FFFFFF;
	border-left:1px solid #EBF4FA;
	border-right:1px solid #EBF4FA;
	padding:0;
}

/* Conference Details */

.conferenceDetailsClient  
{
	padding:50px 20px 0;
}

.conferenceDetailsConference  
{
	font-size:12pt;
}

/* Session Details Panel */

.sessionDetailsRating  
{
	padding:20px 0 0 0;
}


/* Session Packages Panel */

.sessionPackageItemsThumbnail  
{
	padding:20px 0 10px 0;
}

/* Package Details Panel */

.packageListThumbnail
{
	padding:20px 0 10px 0;
}

/* Package Details Panel */

.packageDetailsProductListTableDataNA1, .packageDetailsProductListTableDataME1 
{
	background-color:#FFFFFF;
}

.packageDetailsProductListTableDataNA1, .packageDetailsProductListTableDataNA2 
{
	padding:10px;
}

.packageDetailsProductListTable tr th 
{
	background-color:#666666;
}

.packageDetailsProductList  
{
	border:2px solid #666666;
}

.packageDetailsTitle  
{
	padding:20px 0 0 0;
}

.panelControlPanes 
{
	background-color:none;
	border-left:none;
	border-right:none;
}

/* Pane Header */
.paneTabHeader .paneTabHeaderTitle
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:repeat-x;	
	border-top:1px solid #111127;
	font-size:12pt;
}

.paneInactiveTabHeader .paneTabHeaderTitle
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:repeat-x;	
	border-top:1px solid #111127;
	font-size:12pt;
}

.paneTabHeader .paneTabHeaderLeft
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:no-repeat;	
}

.paneInactiveTabHeader .paneTabHeaderLeft
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:no-repeat;	
}

.paneTabHeaderLeft 
{
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;
	border-left:1px solid #111127;
	border-top:1px solid #111127;
}

.paneTabHeaderRight 
{
	border:0 none;
	float:left;
	height:30px;
	margin:0;
	padding:0;
	width:18px;
	border-right:1px solid #111127;
	border-top:1px solid #111127;
}

.paneTabHeader .paneTabHeaderRight
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:no-repeat;	
}

.paneInactiveTabHeader .paneTabHeaderRight
{
	background-image:url(../../images/sites/154/bar_dma_center_main.png);
	background-position:top left;
	background-repeat:no-repeat;	
}

/* Panel Control */
.panelControlHeaderText  
{
	background-color:#EDEDED;
	border-left:1px solid #111127;
	border-right:1px solid #111127;
	border-top:1px solid #111127;
	padding:0;
}

.panelControl .panelControlFooter 
{
	background-image:url(../../images/sites/154/bar_dma_bottom_main.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:5px;
	width:655px;
}

.spanelControl .panelControlFooter  
{
	background-image:url(../../images/sites/154/bar_dma_bottom.png);
	background-position:left top;
	background-repeat:repeat-x;
	height:5px;
	width:160px;
}

.content .panelControl .panelControlFooter 
{
	background-image:url(../../images/sites/154/bar_dma_bottom_main.png);
	background-position:center top;
	background-repeat:repeat-x;
	height:5px;
	width:655px;
}

.rcolumn .spanelControl .panelControlFooter 
{
	background-image:url(../../images/sites/154/bar_dma_bottom.png);
	background-position: right top;
	background-repeat:repeat-x;
	height:5px;
	width:160px;
}

.spanelControl .panelControlHeader .panelControlTitlebar .panelControlTitle 
{
	color:#FFFFFF;
	font-size:12px;
	text-align:left;
	text-transform:none;
	float:left;
	height:24px;
	padding:8px 0 0;
	width:124px;
}

.spanelControl .panelControlHeader .panelControlTitlebar .panelControlTitlebarIconText 
{
	color:#FFFFFF;
	font-size:12px;
	text-align:right;
	text-transform:none;
	float:left;
	height:24px;
	padding:8px 0 0;
	width:94px;

}

.panelControl .panelControlHeader .panelControlTitlebar .panelControlTitle 
{
	color:#FFFFFF;
	font-size:12px;
	text-align:left;
	text-transform:none;
	float:left;
	height:24px;
	padding:8px 0 0;
	width:619px;
}

.content .panelControl .panelControlHeader .panelControlTitlebar .panelControlTitle 
{
	color:#ffffff;
	font-size:12px;
	text-align:left;
	text-transform:none;
}

/* Content */
.eventListContent 
{
	padding:20px 20px 20px 20px;
	width:615px;
}

.testimonialContent  
{
	padding:20px 20px 20px 20px;
	width:615px;
}

.searchContent 
{
	padding:20px 20px 20px 20px;
	width:615px;
}

/* Main Menu */
.mainMenuItem input 
{
	background-color:Transparent;
	border:0 none;
	color:#FFFFFF;
	font-size:12px;
	height:30px;
	margin:0;
	padding:0 0 0 5px;
	text-align:left;
	text-transform:none;
	width:160px;
}

.mainMenuContent 
{
	padding:0;
	width:160px;
}

.mainMenuItem 
{
	background-image:none;
	background-repeat:repeat-x;
	background-color:#7e90a6;
	margin:0 0 0px;
	width:158px;
}

.mainMenuWelcome 
{
	background-color:#7e90a6;
	padding:6px 0;
	width:158px;
}
.mainMenuWelcomeLogout A
{
	color:#FFFFFF!important;
}

.mainMenuWelcomeMessage
{
	color:#b0dcda!important;
}

.rssFeedTitle
{
	background-color:#7e90a6;
	text-decoration: none;
}

.rssFeedTitle A
{
	color:#FFFFFF!important;
	text-decoration: none;
}

/* Shopping Cart */
.shoppingCartNoItems  
{
	color:#FFFFFF;
	font-size:8pt;
	padding:5px;
}

.shoppingCartItems 
{
	background:none repeat scroll 0 0 #7e90a6;
	height:223px;
	overflow-x:hidden;
	overflow-y:scroll;
	width:158px;
}

/* My Content*/
.myContentTableContainer  
{
	border:2px solid #666666;
	margin-top:5px;
	width:615px;
}

.myContentTableHeader  
{
	background-color:#666666;
	color:#FFFFFF;
	font-size:8pt;
	padding:5px 0 5px 5px;
	text-align:center;
}

.myContentTable 
{
	border:2px solid #666666;
	width:615px;
}

.myContentHRule 
{
	background-color:#739600;
	color:#739600;
	height:3px;
	margin:20px auto;
	width:80%;
}

.myContentDescription 
{
	font-size:8pt;
	padding:10px 0;
}

.myDownloadTableContentOL2 
{
	background-color:#FFFFFF;
}

.myDownloadTableContentOL1 
{
	background-color:#E9EEE1;
}

.myContentTableContentST2, .myContentTableContentDL2, .myContentTableContentHN2, .myContentTableContentOL2, .myContentTableContentDU2 
{
	background-color:#FFFFFF;
}

.myContentTableContentST1, .myContentTableContentDL1, .myContentTableContentHN1, .myContentTableContentOL1, .myContentTableContentDU1 
{
	background-color:#E9EEE1;
}

.myDownloadTableContentOL1, .myDownloadTableContentOL2 
{
	text-align:left;
}

a:link 
{
	color:#0094CD;
}

/* My Orders*/
.myOrdersHRule 
{
	background-color:#739600;
	color:#739600;
	height:3px;
	margin:20px auto;
	width:80%;
}

/* Billing */
.billingDetailsBillingTable, .billingDetailsShippingTable 
{
	border:1px solid #739600;
	float:left;
	position:relative;
	width:613px;
}
.orderDetailsContainer
{
	padding-bottom: 20px;
	clear:both;
	float:left;
	position:relative;
}
.orderDetailsTable 
{
	border:1px solid #739600;
	width:615px;
	float:left;
	position:relative;
}

.orderDetailsTableTotalRow td 
{
	border-top:2px solid #739600;
	padding:5px 0 5px 5px;
}

.orderDetailsTableTotalAmount 
{
	border-left:1px solid #739600;
	color:#990000;
	font-size:9pt;
	font-weight:bold;
	text-align:left;
	width:100px;
}

/* Session Group */

.sessionGroupListItem1  
{
	background-color:#EBF4FA;
	padding: 5px 0 5px 0;
}

.sessionGroupListItem2  
{
	background-color:#EBF4FA;
	padding: 5px 0 5px 0;
}

.sessionGroupListItem1 a, .sessionGroupListItem2 a 
{
	color:#666666 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0 5px;
	text-transform: inherit;
	text-decoration:none !important;
}

.sessionGroupListItem1 span, .sessionGroupListItem2 span 
{
	display:none;
}
.sessionGroupListLevel1Item1
{

}

.sessionGroupListLevel2Item1, .sessionGroupListLevel2Item2
{
	padding-left: 20px;
}

/* Featured Events */
.featuredEventTitle
{
	font-size:12px;
	font-weight:bold;
	text-decoration:none !important;
}

.featuredEventText 
{
	width:360px;
	padding-left:20px;
}

.featuredEventBanner  
{
	padding-left:45px;
	width:170px;
}

/* Top 5 */
.topFiveHighlyRatedSessionsHeaderText  
{
	padding:10px;
}

.myContentTableSubtitle
{
	display:none;
}

/*154*/
/*	Horizontal Menu classes used in PNEHorizontalMenu.ascx*/
.Menu
{
	color: #FFFFFF !important;
	background-color: Transparent;
	height: 32px;
	font-size: 8pt;
	font-family: Arial;
	font-weight:bold;
	vertical-align:middle;
}
.StaticMenuStyle
{
	color: #FFFFFF !important;
	text-align:center;
	font-family: Arial;
	font-weight:bold;
	vertical-align:middle;
}
.DynamicMenuStyle
{
	color: #FFFFFF !important;
	text-align:center;
	font-family: Arial;
	font-weight:bold;
	vertical-align:middle;
	z-index:9999999 !important;
}
.StaticMenuItemStyle
{
	color: #FFFFFF !important;
	height: 32px;	
	font-size: 8pt;	
	text-align:center;
	vertical-align:baseline;
}
.DynamicMenuItemStyle
{
/*	color: #FFFFFF !important; */
/*	background-color: #858997; */
	color: #FFFFFF !important;
	background-color: #4d7aa9;
	height: 32px;	
	font-size: 8pt;
	text-align: left;
	padding-left:7px;
	vertical-align:baseline;
	z-index: 9999999 !important;
}
.StaticSelectedStyle
{
	/*color: #FFFFFF !important;
	background-image: url(../../images/Sites/154/menu/Menu_bg_over.png);
	background-repeat: repeat-x;
	background-color: Transparent;
	width:175px;
	height: 32px;	
	font-size: 9px;	
	text-align:left;

	vertical-align:top;*/
}
.DynamicSelectedStyle
{
	/*color: #FFFFFF !important;
	background-image: url(../../images/Sites/154/menu/Menu_bg_over.png);
	background-repeat: repeat-x;
	background-color: Transparent;
	width: 175px;
	height: 32px;	
	font-size: 9px;
	text-align: left;

	vertical-align:top;*/
}
.StaticHooverStyle
{
	color: #FFFFFF !important;
	background-image: url(http://media.multiview.com/emailMedia/llc/llcnav-bg-grad-over.jpg);
	background-repeat: repeat;
	background-color: Transparent;
	height: 32px;	
	text-align:center;
	vertical-align:baseline;
}
.DynamicHoverStyle
{
	color: #FFFFFF !important;
	background-image: url(http://media.multiview.com/emailMedia/llc/llcnav-bg-grad-over.jpg);
	background-repeat: repeat;
	background-color: Transparent;
	height: 32px;	
	text-align: left;
	padding-left:7px;
	vertical-align:baseline;
	z-index: 9999999 !important;	
}


/*	Horizontal menu for shopping cart*/

.SCMenu
{
	color: #FFFFFF !important;
	background-color: Transparent;
	font-family: Arial;	
	vertical-align:middle;
	height: 32px;
	font-size: 8pt;
	font-weight:bold;	
}
.SCStaticMenuStyle
{
	color: #FFFFFF !important;
	text-align:center;
	font-family: Arial;
}
.SCDynamicMenuStyle
{
	color: #FFFFFF !important;
	width:292px;
	text-align:center;
	font-family: Arial;
	z-index:9999999 !important;	
}
.SCStaticMenuItemStyle
{
	color: #FFFFFF !important;
/*	background-color: #7c9e0c; */
	width: 175px;
	height: 32px;	
	font-size: 8pt;	
	text-align: center;
}
.SCDynamicMenuItemStyle
{
	color: #000000 !important;
/*	background-image: url(../../images/Sites/154/menu/scmenu_bg_over.png);
	background-repeat: repeat; 
	background-color: Transparent;
	background-color: #7c9e0c; */
	background-color: #FFFFDD; 
	border-left: dotted 1px #83b040;
	border-right: dotted 1px #83b040;
	border-bottom: dotted 1px #83b040;	
	width: 292px;
	height: 70px;	
	font-size: 8pt;	
	text-align: left;
	z-index: 9999999 !important;		
}

.SCStaticHooverStyle
{
	color: #FFFFFF !important;
/*	background-image: url(../../images/Sites/154/menu/scmenu_bg_over.png);
	background-repeat: repeat; 
	background-color: Transparent;
	background-position:top left;  */
	background-image: url(http://media.multiview.com/emailMedia/llc/llcnav-bg-grad-over.jpg);
/*	background-color: #FFFFFF; */
	background-repeat: repeat;
	background-color: Transparent;
	height: 32px;	
	text-align:center;	
}
.SCDynamicHoverStyle
{
	color: #FFFFFF !important;
/*	background-image: url(../../images/Sites/154/menu/scmenu_bg_over.png);
	background-repeat: repeat; 
	background-color: Transparent;
	background-position:top left; */
	background-image: url(http://media.multiview.com/emailMedia/llc/llcnav-bg-grad-over.jpg);
/*	background-color: #FFFFFF; */
background-size:cover;
	background-color: Transparent;
	height: 70px;	
	text-align:left;
	z-index: 9999999 !important;	
}


/*	Horizontal Menu classes used in PNEHorizontalMenu.ascx*/
.panelControlMenuBar
{
	width:995px;
	height: 32px;
	overflow: hidden;	
	margin-top:-10px;
}

.MenuLeftSide
{
	width: 0px;
	height: 32px;	
	float:left;
}

.MenuRightSide
{
	width: 0px;
	height: 32px;	
	float:left;
}

.MenuBackground
{
	background-image:url(../../images/sites/154/menu/menu_bg.png);
	background-position:top left;
	background-repeat:repeat-x;
	width: 995px; 
	height: 32px;	
	float:left;
	vertical-align:top;
	text-align:left;
}
.MenuFooter
{
	height:0px;
}

.adServerLeaderboard
{
	height: 97px;
	padding: 15px 0px 13px 0px;
}

.header
{
	height: 115px;
}

.headerBar
{
	height: 0px;	
}

/*rewrite some PNESearch.ascx alignment*/
.searchContent
{
    padding-bottom: 0px;
}
.searchContainer
{
	height:25px;
	vertical-align:middle;
}
.searchLabel
{
	padding-top:5px;
}
.searchField
{
    width: 285px;
    height: 25px;
}

.searchField input
{
    width: 280px;
    height: 18px;
}
.searchButton
{
    height:0px;
    visibility:hidden;
}

.searchButtonEx
{
    width: 60px;
    height:25px;
    float: left;
    padding-left: 2px;
    visibility:visible;
}

.searchSelector
{
    padding-top:2px;
}

/*Shopping Cart In Menu*/


.shoppingCartItemInformation .menuShoppingCartItemInformation
{
	vertical-align:top;
}

.shoppingCartItemTableRow .menuShoppingCartItemTableRow
{
}

.shoppingCartItemName .menuShoppingCartItemName
{
    width:80%;
    white-space:normal;
    vertical-align:top;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 28, 2011 */

#panel_16540_lblHeader
{
	padding:20px;
	font-size:10px;
}

